<header>
  <button {{action "loadPage" "prev"}} {{bind-attr disabled="view.isFirstPage"}}>Prev</button>
  <ul class="pagination">
    {{#unless view.isFirstPage}}
      <li {{action "loadPage" 1}}>First</li> ...
    {{/unless}}
    {{#each page in nearPages}}
      <li {{action "loadPage" page.index}} {{bind-attr class="page.isActive"}}>{{page.index}}</li>
    {{/each}}
    {{#unless view.isLastPage}}
      ... <li {{action "loadPage" availablePages}}>Last</li>
    {{/unless}}
  </ul>
  <button {{action "loadPage" "next"}} {{bind-attr disabled="view.isLastPage"}}>Next</button>
</header>