{{partial "header"}}

<div {{bind-attr class=":table-wrapper loadingSessions:loading"}}>
  {{#if loadingSessions}}<div class="main-loader"></div>{{/if}}
  <table {{bind-attr class="sortPropertyClass"}}>
    <thead>
      <tr>
        {{#sortable-header sortBy="id"}}
          Id
        {{/sortable-header}}
        {{#sortable-header sortBy="startTime"}}
          Start time
        {{/sortable-header}}
        {{#sortable-header sortBy="endTime"}}
          End time
        {{/sortable-header}}
        {{#sortable-header sortBy="duration"}}
          Duration
        {{/sortable-header}}
        {{#sortable-header sortBy="distance"}}
          Distance
        {{/sortable-header}}
        {{#sortable-header sortBy="sportTypeId"}}
          Sport type
        {{/sortable-header}}
        {{#sortable-header sortBy="hasEncodedTrace"}}
          Has encoded trace
        {{/sortable-header}}
      </tr>
    </thead>
    <tbody>
      {{#each session in this}}
        {{#link-to "session" session.model.id tagName="tr"}}
          <td class="id">{{session.model.id}}</td>
          <td class="start-date">{{session.startDate}}</td>
          <td class="end-date">{{session.endDate}}</td>
          <td class="duration">{{session.durationHours}}</td>
          <td class="distance">{{session.distanceKm}}</td>
          <td class="sport-type">{{session.model.sportTypeId}}</td>
          <td class="encoded-trace">
            <div {{bind-attr class=":encoded-trace-badge session.model.hasEncodedTrace:enable:disable"}}></div>
          </td>
        {{/link-to}}
      {{/each}}
    </tbody>
  </table>
</div>
{{outlet}}